@font-face {
  font-family: 'Brand';
  src:  url('../fonts/Brand.eot?yozz6c');
  src:  url('../fonts/Brand.eot?yozz6c#iefix') format('embedded-opentype'),
    url('../fonts/Brand.ttf?yozz6c') format('truetype'),
    url('../fonts/Brand.woff?yozz6c') format('woff'),
    url('../fonts/Brand.svg?yozz6c#Brand') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="brand-"], [class*=" brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brand' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-b17:before {
  content: "\e117";
}
.brand-b05:before {
  content: "\e105";
}
.brand-b03:before {
  content: "\e103";
}
.brand-b04:before {
  content: "\e104";
}
.brand-b02:before {
  content: "\e102";
}
.brand-b01:before {
  content: "\e101";
}
.brand-b15:before {
  content: "\e115";
}
.brand-b12:before {
  content: "\e112";
}
.brand-b14:before {
  content: "\e114";
}
.brand-b16:before {
  content: "\e116";
}
.brand-b11:before {
  content: "\e111";
}
.brand-b13:before {
  content: "\e113";
}
.brand-b18:before {
  content: "\e927";
}
.brand-b10:before {
  content: "\e110";
}
.brand-b09:before {
  content: "\e109";
}
.brand-b07:before {
  content: "\e107";
}
.brand-b08:before {
  content: "\e108";
}
.brand-b06:before {
  content: "\e106";
}
