@font-face {
  font-family: 'Brand';
  src:  url('../fonts/Brand.eot?yozz6c');
  src:  url('../fonts/Brand.eot?yozz6c#iefix') format('embedded-opentype'),
    url('../fonts/Brand.ttf?yozz6c') format('truetype'),
    url('../fonts/Brand.woff?yozz6c') format('woff'),
    url('../fonts/Brand.svg?yozz6c#Brand') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="brand-"], [class*=" brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Brand' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-MASERATI:before {
  content: "\e117";
}
.brand-SSANGYONG:before {
  content: "\e105";
}
.brand-SAMSUNG:before {
  content: "\e103";
}
.brand-CHEVROLET:before {
  content: "\e104";
}
.brand-KIA:before {
  content: "\e102";
}
.brand-HYUNDAI:before {
  content: "\e101";
}
.brand-LINCOLN:before {
  content: "\e115";
}
.brand-VOLVO:before {
  content: "\e112";
}
.brand-PORSCHE:before {
  content: "\e114";
}
.brand-JAGUAR:before {
  content: "\e116";
}
.brand-LANDROVER:before {
  content: "\e111";
}
.brand-LEXUS:before {
  content: "\e113";
}
.brand-MINI:before {
  content: "\e927";
}
.brand-VOLKSWAGEN:before {
  content: "\e110";
}
.brand-AUDI:before {
  content: "\e109";
}
.brand-BENZ:before {
  content: "\e107";
}
.brand-BMW:before {
  content: "\e108";
}
.brand-GENESIS:before {
  content: "\e106";
}
