
@import url('brand.css');
@import url('smart-icons.css');
@import url('nanumsquare.css');

html {font-size:15px;}
html, body, h1, h2, h3, h4, h5, h6, p, div, img {margin:0; padding:0; border:0; font-family:'NanumSquare', sans-serif;font-weight:700;}
h1,h2{font-weight:bold;}
table,tr,td,thead,tbody,tfoot{border-style:solid; border-color:#333; 	border-spacing:0; border-collapse:collapse;}
ul, ol, li{list-style: none;}
a{text-decoration: none !important; color: #000;}
a hover{color: #c2c2c2;}
button:focus{outline:none;}
input {outline:none;}

/* Width */
.w0 {display:none !important;}
.w5 {width:5% !important;}
.w10 {width:10% !important;}
.w15 {width:15% !important;}
.w20 {width:20% !important;}
.w25 {width:25% !important;}
.w30 {width:30% !important;}
.w35 {width:35% !important;}
.w40 {width:40% !important;}
.w45 {width:45% !important;}
.w50 {width:50% !important;}
.w55 {width:55% !important;}
.w60 {width:60% !important;}
.w65 {width:65% !important;}
.w70 {width:70% !important;}
.w75 {width:75% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w100 {width:100% !important;}

/* Text Align */
.tl {text-align:left !important;}
.tc {text-align:center !important;}
.tr {text-align:right !important;}

/* Float Type */
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}

/* Counter */
.counter {transition:all .4s;}

.header-top {position:fixed;top:0;left:0;right:0;background-color:#232628;color:#fff;height:55px;z-index:10;}
.header-top-wrap {max-width:1280px;margin:0 auto;line-height:55px;}
.header-top-wrap i {color:#fff100;padding-right:3px;}
.header-top-wrap .address {float:left;margin-left:2rem;}
.header-top-wrap .phone {float:left;margin-left:2rem;}
.header-top-wrap .member {float:right;margin-right:2rem;}
.header-top-wrap .member a {color:#fff100;padding:0 3px;}

.header {position:absolute;top:55px;left:0;right:0;bottom:0;height:105px;background-color:rgba(35,38,40,0.7);z-index:10;}
.header-wrap {position:relative;max-width:1280px;margin:0 auto;}
.header-wrap:after {content:"";display:block;clear:both;}
.header .nav-ctr {display:none;}
.header .logo {float:left;margin:1.5rem 0 0 2rem;}

.header .nav {float:right;margin:0 10rem 0 0;line-height:2rem;font-size:1.2rem;}
.header .nav ul {margin:0;padding:0;}
.header .nav ul:after {content:"";display:block;clear:both;}
.header .nav > ul > li {float:left;padding:0 1rem;}
.header .nav > ul > li > a {color:#fff;display:block;height:105px;line-height:105px;padding:0 1rem;}
.header .nav > ul > li > a:hover {color:#fff100;}
.header .nav > ul > li.selected > a {color:#fff100;}

/* Sub Menu - Common */
.header .nav > ul > li > a + .sub-menu {display:none;opacity:0;}
.header .nav > ul > li.on > a + .sub-menu {display:block;opacity:1;transition:all 0.8s;}

/* Brands */
.header .nav .sub-menu {position:fixed;top:160px;left:0;right:0;background-color:rgba(10,10,10,0.9);color:#fff;}
.header .nav .sub-menu ul {max-width:1280px;margin:0 auto;padding:1rem 0 2rem 3rem;}
.header .nav .sub-menu ul:after {content:"";display:block;clear:both;}
.header .nav .sub-menu ul h2 {font-size:2rem;padding-top:1rem;font-weight:800;text-align:center;}
.header .nav .sub-menu ul h2 small {font-size:.8rem;font-weight:400;display:block;}
.header .nav .sub-menu ul li {float:left;}

.header .nav .sub-brand ul li a {display:block;height:auto;margin:1rem 1rem 0 1rem;padding:0 1rem;color:#fafafa;}
.header .nav .sub-brand ul li a:hover {background-color:#fff;border-radius:10px;transition:all 0.3s;color:#000;}
.header .nav .sub-brand ul li a.selected {background-color:#fff100;border-radius:10px;transition:all 0.3s;color:#000;}
.header .nav .sub-brand ul li a i{font-size:5rem;display:inline-block;text-align:center;line-height:3rem;padding-top:1rem;}
.header .nav .sub-brand ul li a span {font-size:0.8rem;display:block;text-align:center;line-height:1rem;padding-bottom:1rem;}

.header .nav .sub-magazine ul li {width:33.333333%;text-align:center;}
.header .nav .sub-magazine ul li a {display:block;height:auto;margin:1rem 0 0 0;padding:0;color:#fff;}
.header .nav .sub-magazine ul li a i {font-size:1.5rem;padding-right:0.7rem;}
.header .nav .sub-magazine h3 {background-color:rgba(255,255,255,0.1);padding:0.5rem 0;font-weight:400;}
.header .nav .sub-magazine .mag-new h4 {font-size:1rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:400;padding:0.5rem 0;}
.header .nav .sub-magazine .mag-new .mag-img {width:100%;height:200px;overflow:hidden;position:relative;}
.header .nav .sub-magazine .mag-new .mag-img .img-bg {background-color:rgba(0,0,0,0.6);position:absolute;top:0;left:0;right:0;bottom:0;opacity:1;}
.header .nav .sub-magazine .mag-new .mag-img img {width:100%;}
.header .nav .sub-magazine ul li a:hover h3 {background-color:rgba(255,255,255,0.9);transition:all .5s;color:#000;}
.header .nav .sub-magazine ul li a:hover .mag-new .mag-img .img-bg {opacity:0;transition:all .5s;}
.header .nav .sub-magazine ul li a:hover .mag-new .mag-img img {transform:scale(1.1);transition:all .5s;}

.header .nav .sub-service ul li {box-sizing:border-box;margin-top:1rem;}
.header .nav .sub-service ul li.used-car {width:33%;background:url(../img/main-img-1.jpg) center center no-repeat;margin-right:2%;background-size:auto 100%;}
.header .nav .sub-service ul li.solar-gard {width:65%;background:url(../img/solar-gard-bg.jpg) center center no-repeat;background-size:auto 100%;}
.header .nav .sub-service ul li > a {display:block;margin:0;padding:0;background-color:rgba(0,0,0,0.55);height:290px;}
.header .nav .sub-service ul li.solar-gard > a {height:124px;}
.header .nav .sub-service h3 {background-color:rgba(0,0,0,0.3);padding:0.5rem 0;font-weight:400;color:#fff;text-align:center;}
.header .nav .sub-service h3 span {padding-left:0.7rem;}
.header .nav .sub-service h3 small {display:block;text-align:center;font-size:1rem;}
.header .nav .sub-service .gallery-new {margin:0;padding:0 1rem;box-sizing:border-box;background-color:rgba(0,0,0,0.6);}
.header .nav .sub-service .gallery-new:after {content:"";display:block;clear:both;}
.header .nav .sub-service .gallery-new h4 {font-size:1.15rem;padding:0.5rem 1rem;color:#fff;position:relative;}
.header .nav .sub-service .gallery-new h4 .more {border:2px solid #fff;margin-left:1rem;border-radius:15px;padding:0 15px;line-height:20px;cursor:pointer;background-color:#fff;}
.header .nav .sub-service .gallery-new h4 .more:hover {background-color:#ffff00;border-color:#ffff00;}
.header .nav .sub-service .gallery-new li {float:left;width:20%;margin:0;padding:0;font-size:0;box-sizing:border-box;padding:0.3rem;}
.header .nav .sub-service .gallery-new li img {width:100%;height:100%;}
.header .nav .sub-service ul li a .go-gallery {border:1px solid #ccc;padding:13px 70px;border-radius:30px;display:inline-block;cursor:pointer;}
.header .nav .sub-service ul li a .go-gallery span {padding-left:10px;font-size:1.2rem;}
.header .nav .sub-service ul li a .go-gallery:hover {border:1px solid #028ed8;color:#028ed8;}
.header .nav .sub-service ul li:hover {background-size:auto 110% !important;transition:all 0.5s;}
.header .nav .sub-service ul li:hover h3 {background-color:#fff;color:#000;transition:all 0.5s;}
.header .nav .sub-service ul li:hover .gallery-new {background-color:#000;transition:all 0.5s;}

.header .btn-estimate {position:absolute;top:1.1rem;right:2rem;width:70px;height:70px;border-radius:50%;background-color:#fff100;text-align:center;cursor:pointer;}
.header .btn-estimate:hover {background-color:#ffff00;}
.header .btn-estimate i {display:block;font-size:1.6em;padding:1rem 0 0.3rem 0;}
.header .btn-estimate:hover i.i-clipboard:before {content:"\e95a";}
.header .btn-estimate span {display:block;font-size:0.8rem;padding-top:.1rem;}

.header-top.fixed {height:40px;}
.header-top.fixed .header-top-wrap {font-size:0.9rem;line-height:40px;}

.header.fixed {position:fixed;top:40px;height:70px;background-color:rgba(35,38,40,0.85);}
.header.fixed .logo {margin-top:0.7rem;}
.header.fixed .logo img {max-width:130px;}
.header.fixed .nav .sub-menu {top:110px;}
.header.fixed .nav > ul > li > a {height:70px;line-height:70px;}
.header.fixed .btn-estimate {top:0;border-radius:0;}

.content {padding-top:55px;}
.header.fixed .content {padding-top:40px;}

.main-img {position:relative;height:750px;background:url(../img/main-img-1.jpg) 0 0 no-repeat;background-size:100% 100%;}
.main-img .img-shadow {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.4);z-index:1;}
.main-img .main-img-wrap {position:relative;max-width:1280px;margin:0 auto;}
.main-img .title {position:absolute;top:9em;left:2em;font-weight:800;font-size:2em;margin:0 auto;color:#fff;font-style:italic;z-index:2;text-shadow:0 0 5px #333;}
.main-img .title p {padding-top:.8em;text-shadow:0 0 5px #000;}
.main-img .title strong {font-size:2.5em;}
.main-img .title strong span {color:#fff100;}

.sub-wrap {padding:4rem 0 3rem 0;}
.sub-wrap h3 {text-align:center;}

.sub-tt {position:relative;background:url(../img/title/aboutus.jpg) 0 100% no-repeat;background-size:100% auto;}
.sub-tt .sub-tt-wrap {background-color:rgba(0,0,0,0.65);height:400px;}
.sub-tt h2 {text-align:center;padding-top:7em;color:#fff;}
.sub-tt h2 strong {display:block;font-size:3.5rem;line-height:6rem;text-transform:uppercase;font-weight:800;}
.sub-tt h2 small {display:block;font-size:1.2rem;line-height:1.5rem;}

.sub-tt.aboutus {background-image:url(../img/title/aboutus.jpg);}
.sub-tt.aboutus .sub-tt-wrap {background-color:rgba(0,0,0,0.55);height:550px;}
.sub-tt.aboutus h2 {padding-top:16rem;}
.sub-tt.hotdeal {background-image:url(../img/title/hotdeal.jpg);background-position: 0 0;}
.sub-tt.hotdeal h2 {padding-top:11rem;}
.sub-tt.magazine {background-image:url(../img/title/magazine.jpg);background-color:rgba(0,0,0,0.85);}
.sub-tt.service-review {background-image:url(../img/solar-gard-bg.jpg);background-position: 0 0;}
.sub-tt.service {background-image:url(../img/main-img-1.jpg);background-position: 0 100%;}
.sub-tt.contact {background-image:url(../img/title/contact.jpg);background-position: 0 100%;}
.sub-tt .tab-nav {text-align:center;margin:50px 0 0 0;padding:0;list-style:none;}
.sub-tt .tab-nav li {display:inline-block;padding:5px 20px;text-align:center;box-sizing:border-box;font-size:17px;font-weight:700;border-radius:17px;color:#fff;background-color:rgba(255,255,255,0.15);border:2px solid #fff;margin:0 10px;cursor:pointer;width:150px;}
.sub-tt .tab-nav li:hover {border-color:#ffff00;background-color:rgba(255,255,255,0.0);}
.sub-tt .tab-nav li small {font-size:13px;padding-left:15px;}
.sub-tt .tab-nav li.select {background-color:#ffff00;color:#000;border-color:#ffff00;box-shadow:0 0 10px #000;}

.sub-tt.brands .sub-tt-wrap {background-color:rgba(0,0,0,0.65);height:400px;}
.sub-tt.brands h2 {padding-top:8rem;}
.sub-tt.brands h2 strong {display:inline-block;font-size:8rem;line-height:5rem;background-color:rgba(255,255,255,0.6);color:#000;border-radius:50%;}
.sub-tt.brands h2 span {font-size:3.5rem;line-height:5.5rem;display:block;font-weight:800}
.sub-tt.brands.hyundai {background-image:url(../img/title/brand-hyundai.jpg)}
.sub-tt.brands.kia {background-image:url(../img/title/brand-kia.jpg)}
.sub-tt.brands.samsung {background-image:url(../img/title/brand-samsung.jpg)}
.sub-tt.brands.chevrolet {background-image:url(../img/title/brand-chevrolet.jpg)}
.sub-tt.brands.ssangyong {background-image:url(../img/title/brand-ssangyong.jpg)}
.sub-tt.brands.genesis {background-image:url(../img/title/brand-genesis.jpg)}
.sub-tt.brands.benz {background-image:url(../img/title/brand-benz.jpg)}
.sub-tt.brands.bmw {background-image:url(../img/title/brand-bmw.jpg)}
.sub-tt.brands.audi {background-image:url(../img/title/brand-audi.jpg)}
.sub-tt.brands.volkswagen {background-image:url(../img/title/brand-volkswagen.jpg)}
.sub-tt.brands.landrover {background-image:url(../img/title/brand-landrover.jpg)}
.sub-tt.brands.volvo {background-image:url(../img/title/brand-volvo.jpg)}
.sub-tt.brands.lexus {background-image:url(../img/title/brand-lexus.jpg)}
.sub-tt.brands.porsche {background-image:url(../img/title/brand-porsche.jpg)}
.sub-tt.brands.lincoln {background-image:url(../img/title/brand-lincoln.jpg)}
.sub-tt.brands.jaguar {background-image:url(../img/title/brand-jaguar.jpg)}
.sub-tt.brands.maserati {background-image:url(../img/title/brand-maserati.jpg)}
.sub-tt.brands.mini {background-image:url(../img/title/brand-mini.jpg)}

.sub-tt.fixed {position:fixed;top:40px;left:0;right:0;transition:all 0.3s;background-position:50% 50%;z-index:9;}
.sub-tt.fixed .sub-tt-wrap {height:170px;}
.sub-tt.fixed h2 {padding-top:5.5rem;}
.sub-tt.fixed h2 strong {font-size:2.5rem;line-height:5rem;}
.sub-tt.brands.fixed h2 strong {font-size:4rem;vertical-align:middle;width:60px;height:60px;line-height:60px;}
.sub-tt.magazine.fixed .sub-tt-wrap {height:210px;}
.sub-tt.fixed h2 span {display:inline-block;font-size:2.5rem;line-height:4.5rem;vertical-align:middle;padding-left:15px;}
.sub-tt.fixed h2 small {display:none;}
.sub-tt.fixed .tab-nav {background-color:rgba(0,0,0,0.85);margin:-11px 0 0 0;padding:15px 0;}

.sub-tt.fixed + .sub-wrap {padding-top:330px;}


/* 간편견적문의 */
.simple-estimate {position:absolute;bottom:0;left:0;right:0;height:150px;background-color:rgba(0,0,0,0.7);z-index:3;color:#fff;}
.simple-estimate-form {max-width:1200px;margin:0 auto;z-index:1;}
.simple-estimate-form:after {content:"";display:block;clear:both;}
.simple-estimate-form h3 {float:left;font-size:1.3rem;font-weight:800;line-height:2rem;padding-top:2.8rem;padding-left:1.5rem;}
.simple-estimate-form h3 strong {display:block;font-size:2rem;color:#ffde00;}
.simple-estimate-form .form-input {float:left;padding-left:1rem;line-height:2.5rem;vertical-align:middle;padding-top:2.6rem;}
.simple-estimate-form .form-input:nth-of-type(1) {margin-left:2rem;}
.simple-estimate-form .form-input label {display:none;}
.simple-estimate-form .form-input input {border:0 none;border-radius:1.1rem;height:2.2rem;line-height:2.2rem;color:#000;padding:0 1rem;box-sizing:border-box;vertical-align:middle;}
.simple-estimate-form .form-input input::placeholder {color:#000;opacity:1;}
.simple-estimate-form .form-input input:-ms-input-placeholder {color:#000;opacity:1;}
.simple-estimate-form .form-input input::-ms-input-placeholder {color:#000;opacity:1;}
.simple-estimate-form .form-input.name input {width:150px;text-align:center;}
.simple-estimate-form .form-input.tel input {width:200px;}
.simple-estimate-form .form-input.car-type input {width:350px;}
.simple-estimate-form .form-input.checkbox {padding-top:0.2rem;padding-left:3rem;}
.simple-estimate-form .form-input.checkbox input {width:20px;height:20px;background-color:#fff;}
.simple-estimate-form .form-input.checkbox label {color:#fff;display:inline-block;cursor:pointer;font-size:.85rem;}
.simple-estimate-form .form-input.checkbox a {display:inline-block;color:#fff;font-size:.85rem;}
.simple-estimate-form .form-input.checkbox a:hover {color:#ffde00;}
.simple-estimate-form .form-input button {border:0 none;height:2.5rem;line-height:1rem;padding:0 3rem;cursor:pointer;border-radius:1.3rem;font-size:1.2rem;font-weight:800;background-color:#fff100;vertical-align:middle;}
.simple-estimate-form .form-input button:hover {background-color:#ffff00;}
.simple-estimate-form .form-input button:hover i.i-clipboard:before {content:"\e95a";}


/* Hot Deal */
.hotdeal-item {position:relative;}
.rev_slider_wrapper {background:transparent url("../img/hotdeal-bg.jpg") center 0 no-repeat;}
.tp-parallax-wrap {width:100%;}
.tp-loop-wrap,
.tp-mask-wrap {width:100%;text-align:center;}

.hotdeal-content {position:relative;text-align:center;z-index:5;}
.hot-type {padding-top:70px;}
.hot-type span {display:inline-block;color:#878787;padding:3px 4px 1px 4px;font-size:15px;line-height:20px;}
.hot-tt {padding-top:15px;}
.hot-tt strong {display:inline-block;font-size:36px;padding:5px 13px 3px 7px;font-weight:800;color:#878787;font-style:italic;line-height:36px;}
.hot-price {padding-top:60px;font-style:italic;}
.hot-price span {display:inline-block;font-size:20px;color:#878787;font-weight:700;}
.hot-price strong {display:inline-block;font-size:24px;color:#878787;font-weight:700;padding:0 5px;}
.hot-btn {opacity:0;padding-top:282px;z-index:0;}
.hot-btn .hot-detail {display:inline-block;width:370px;height:89px;background:transparent url("../img/hotdeal-btn.png") 0 0 no-repeat;cursor:default;}
.hot-btn .hot-detail span {padding-top:40px;line-height:115px;font-size:20px;}

.active-revslide .hot-type span {background-color:#fff;color:#028ed8;}
.active-revslide .hot-tt strong {color:#fff;}
.active-revslide .hot-price span {color:#fff;}
.active-revslide .hot-price strong {color:#ffff00}
.active-revslide .hot-btn {opacity:1;transition:all 1s;z-index:1;}
.active-revslide .hot-btn .hot-detail {cursor:pointer;}

/* Hot Cars */
.hotcar {padding:60px 0 50px 0;}
.hotcar h2 {text-align:center;font-size:40px;}
.hotcar h2 small {display:block;font-size:15px;color:#555555;padding-top:15px;}

.hotcar-list {margin:0 auto;max-width:1200px;}
.hotcar-list > ul:after {content:"";display:block;clear:both;}
.hotcar-list > ul > li {float:left;width:25%;}

.hotcar-item {position:relative;}
.hotcar-item .car-img {height:200px;line-height:180px;text-align:center;}
.hotcar-item .car-img img {min-width:80%;vertical-align:bottom;}
.hotcar-item .car-info .car-name {display:block;text-align:center;font-size:24px;font-weight:800;}
.hotcar-item .car-info ul:after {content:"";display:block;clear:both;}
.hotcar-item .car-info li {float:left;width:50%;padding:15px 0 5px 0;font-size:15px;}
.hotcar-item .car-info li span {padding-right:5px;}
.hotcar-item .car-info li strong {font-size:18px;color:#eb3a3a;}


.hotcar-btn {opacity:0;position:absolute;top:70px;left:50%;margin-left:-50px;cursor:default;}
.hotcar-btn a {display:block;width:100px;height:100px;background-color:rgba(255,222,0,0.9);color:#000;border-radius:50%;text-align:center;}
.hotcar-btn a i {font-size:32px;padding:25px 0 10px 0;}
.hotcar-btn a span {display:block;}
.hotcar-item:hover .hotcar-btn {opacity:0.9;transition:all 0.6s;cursor:pointer;}
.hotcar-item:hover .car-img img {transform:scale(1.1);transition:all .5s;}

.main-magazine {padding:60px 0 50px 0;}
.main-magazine h2 {text-align:center;font-size:40px;}
.main-magazine h2 small {display:block;font-size:15px;color:#555555;padding-top:15px;}

.main-magazine-list {max-width:1200px;margin:0 auto;}
.main-magazine-list ul:after {content:"";display:block;clear:both;}
.main-magazine-list li {float:left;height:240px;box-sizing:border-box;padding:10px;position:relative;}
.main-magazine-list li .main-magazine-info {display:block;opacity:0;position:absolute;top:10px;right:10px;bottom:10px;left:10px;z-index:1;text-align:center;background-color:rgba(0,0,0,0.4);color:#fff;}
.main-magazine-list li .main-magazine-info span {margin-top:60px;display:inline-block;font-size:16px;background-color:#fff;color:#555;padding:5px 10px 3px 10px;}
.main-magazine-list li .main-magazine-info strong {margin-top:10px;padding:0 20px;display:block;font-size:20px;font-weight:700;}
.main-magazine-list li:hover .main-magazine-info {opacity:1;transition:all .5s;box-shadow:inset 0 0 100px #555;}
.main-magazine-list li .main-magazine-img {overflow:hidden;text-align:center;height:100%;}
.main-magazine-list li .main-magazine-img img {height:100%;transform:translate(-17.5%,0);}
.main-magazine-list li:nth-child(1) {width:40%;height:480px;}
.main-magazine-list li:nth-child(2) {width:40%;}
.main-magazine-list li:nth-child(2) .main-magazine-img img {width:100%;height:auto;transform:translate(0,-10%);}
.main-magazine-list li:nth-child(1) .main-magazine-info span {margin-top:200px;}
.main-magazine-list li:nth-child(2) .main-magazine-info span {margin-top:70px;}
.main-magazine-list li:nth-child(1) .main-magazine-info strong {font-size:24px;}
.main-magazine-list li:nth-child(2) .main-magazine-info strong {font-size:24px;}
.main-magazine-list li:nth-child(3) {width:20%;}
.main-magazine-list li:nth-child(4) {width:20%;}
.main-magazine-list li:nth-child(5) {width:20%;}
.main-magazine-list li:nth-child(6) {width:20%;}
/* Image Hover Style */
.main-magazine-list li:hover .main-magazine-img img {transform:scale(1.03) translate(-17.5%,0);transition:all 1s;}
.main-magazine-list li:nth-child(2):hover .main-magazine-img img {transform:scale(1.03) translate(0,-10%);}


.footer {background-color:#646464;}
.footer-wrap {max-width:1200px;margin:0 auto;padding:30px 20px 50px 20px;}
.footer-wrap:after {content:"";display:block;clear:both;}
.footer-logo {float:left;padding-right:30px;}
.footer-info {float:left;}
.footer-info ul {margin:0;padding:0;}
.footer-info li {line-height:22px;font-size:13px;font-weight:400;color:#ddd;}
.footer-info li a {color:#fff;display:inline-block;padding-right:10px;font-weight:700;line-height:24px;font-size:15px;}
.footer-info li a strong {font-size:24px;color:#ffde00;}
.footer-info li:last-child {padding-top:20px;}
.footer-info li span {padding-right:10px;}
.footer-social {float:right;}
.footer-social ul {margin:0;padding:0;}
.footer-social ul:after {content:"";display:block;clear:both;}
.footer-social li {float:left;padding-left:15px;}


/* Sub - About us */
.about-smart h3 {text-align:center;padding-bottom:5rem;}
.about-smart h3 span {display:block;font-size:3rem;padding:3rem 1rem 2rem 1rem;max-width:700px;margin:0 auto;font-weight:800;line-height:4rem;}
.about-smart h3 strong {font-weight:800;color:#000;background-color:#ffde00;padding:.5rem .5rem .2rem .5rem;margin-right:.2rem;}
.about-smart h3 small {display:inline-block;font-size:1.7rem;color:#000;padding:1rem 0;}

.about-smart ul {max-width:1200px;margin:3rem auto 5rem auto;}
.about-smart ul:after {content:"";display:block;clear:both;}
.about-smart li {float:left;width:33.33333333%;text-align:center;padding:0 1.5rem;}
.about-smart li .about-icon {padding-bottom:1rem;}
.about-smart li h4 {font-size:1.4rem;padding:.5rem 0;color:#000;font-weight:800;}
.about-smart li p {color:#353535;}

.about-img {background-color:#212121;}
.about-img h3 span {font-size:1.4rem;line-height:1.8rem;color:#fff;padding:3rem 2rem 0 2rem;margin:0 auto;display:block;max-width:700px;font-weight:500;text-align:center;}
.about-img h3 strong {font-weight:800;color:#ffde00;}
.about-img p {font-size:0;line-height:0;}
.about-img p img {width:100%;}

/* Sub - Brand */
.brands-wrap {padding:4rem 0 3rem 0;}
.brands-wrap h3 {text-align:center;}
.brands-list {margin:0 auto;max-width:1200px;}
.brands-list > ul:after {content:"";display:block;clear:both;}
.brands-list > ul > li {float:left;width:25%;padding:15px;box-sizing:border-box;}

.brands-list .list-item {position:relative;background-color:#fafafa;border-radius:10px;transition:all 0.5s;cursor:pointer;}
.brands-list .list-item:hover {background-color:#fff;box-shadow:0 0 2rem #bbb;transform:scale(1.05);}
.brands-list .list-item .car-img {height:240px;line-height:180px;text-align:center;}
.brands-list .list-item .car-img img {min-width:80%;vertical-align:bottom;}
.brands-list .list-item .car-info {padding-bottom:2rem;}
.brands-list .list-item .car-info .car-name {display:block;text-align:center;font-size:24px;font-weight:800;}
.brands-list .list-item .car-info ul:after {content:"";display:block;clear:both;}
.brands-list .list-item .car-info li {float:left;width:50%;padding:15px 0 5px 0;font-size:15px;}
.brands-list .list-item .car-info li span {padding-right:5px;}
.brands-list .list-item .car-info li strong {font-size:18px;color:#eb3a3a;}

.brands-btn {opacity:0;position:absolute;top:80px;left:0;right:0;cursor:default;text-align:center;}
.brands-btn a {display:inline-block;width:100px;height:100px;background-color:rgba(255,222,0,0.9);color:#000;border-radius:50%;text-align:center;}
.brands-btn a i {font-size:32px;padding:25px 0 10px 0;}
.brands-btn a span {display:block;}
/* .brands-item:hover .brands-btn {opacity:0.9;transition:all 0.6s;cursor:pointer;} */

/* Hot Deal */
.hotdeals-list {margin:0 auto;max-width:1200px;}
.hotdeals-list > ul:after {content:"";display:block;clear:both;}
.hotdeals-list > ul > li {float:left;width:33.333333%;padding:15px;box-sizing:border-box;}

.hotdeals-list .list-item {position:relative;background-color:#fafafa;border-radius:10px;transition:all 0.5s;cursor:pointer;overflow:hidden;}
.hotdeals-list .list-item:hover {background-color:#fff;box-shadow:0 0 2rem #bbb;transform:scale(1.05);}
.hotdeals-list .list-item .car-img {text-align:center;overflow:hidden;border-radius:10px;}
.hotdeals-list .list-item .car-img img {width:100%;vertical-align:top;}
.hotdeals-list .list-item .car-info {transform:rotate(-6deg);padding:1.5rem 0 1.5rem 0;position:absolute;top:1.6rem;left:-1rem;right:-1rem;color:#fff;background-color:rgba(0,0,0,0.3);text-shadow:0 0 3px #555;}
.hotdeals-list .list-item:hover .car-info {transform:rotate(0deg);left:0;right:0;transition:all 0.5s;background-color:rgba(0,0,0,0.4)}
.hotdeals-list .list-item .car-info span {display:block;color:#ffff00;text-align:center;font-size:1.2rem;}
.hotdeals-list .list-item .car-info .car-name {display:block;text-align:center;font-size:2rem;font-weight:800;padding:1rem 0 0 0;}
.hotdeals-list .list-item .counter {opacity:0;position:absolute;bottom:3rem;left:0;right:0;text-align:center;font-size:0;font-weight:800;padding:3rem 0 0 0;color:#ffff00;}
.hotdeals-list .list-item:hover .counter {opacity:1;font-size:3.5rem;transition:all 0.5s;}
.hotdeals-list .list-item .counter:before {content:"월";font-size:2rem;padding-right:0.5rem;color:#fff;}
.hotdeals-list .list-item .counter:after {content:"만원";font-size:2rem;padding-left:0.5rem;color:#fff;}


.hotdeals-detail {position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:999;overflow:auto;display:none;}
.hotdeals-detail.on {display:block;}
.hotdeals-detail-wrap {max-width:200px;}


/* Magazine */
.magazine-wrap {padding:4rem 0 3rem 0;}
.magazine-wrap h3 {text-align:center;}
.magazine-list {margin:0 auto;max-width:1200px;}
.magazine-list > ul:after {content:"";display:block;clear:both;}
.magazine-list > ul > li {float:left;width:33.333333%;padding:15px;box-sizing:border-box;}
.magazine-list .list-item {background-color:#fff;border:1px solid #eee;padding:15px;}
.magazine-list .list-item .item-img {overflow:hidden;max-height:200px;}
.magazine-list .list-item .item-img img {max-width:100%;min-height:200px;}
.magazine-list .list-item .item-info {padding:10px 0 5px 0;}
.magazine-list .list-item .item-info:after {content:"";display:block;clear:both;}
.magazine-list .list-item .item-info .cat {float:right;font-size:0.9rem;padding:4px 5px 3px 5px;background-color:#777;color:#fff;}
.magazine-list .list-item .item-info .subject {padding:7px 0;font-size:1.1rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.magazine-list .list-item .item-info .etc {float:left;text-align:right;font-size:0.85rem;padding-top:5px;color:#777;}
.magazine-list .list-item .item-info .etc span {padding-right:5px;}
.magazine-list .list-item .item-info .cat.new {background-color:#07a569}
.magazine-list .list-item .item-info .cat.review {background-color:#0c87c9}
.magazine-list .list-item .item-info .cat.test {background-color:#777}
.magazine-list .list-item:hover {box-shadow:0 0 2rem #ddd;border-color:#ccc;cursor:pointer;}
.magazine-list .list-item:hover .item-img img {transform:scale(1.1);transition:all .5s;}
.magazine-list .mag-more {text-align:center;padding:20px 0;}
.magazine-list .mag-more .mag-more-btn {border:1px solid #ccc;padding:13px 150px;border-radius:30px;}
.magazine-list .mag-more .mag-more-btn:hover {border:1px solid #028ed8;color:#028ed8;}

.magazine-detail {max-width:1200px;margin:0 auto;}
.magazine-detail .mag-title {padding:20px 0;}
.magazine-detail .mag-title h2 {padding:10px 0 10px 0;text-align:center;}
.magazine-detail .mag-title h2 strong {display:block;padding:20px 150px;font-size:2.3rem;}
.magazine-detail .cat {display:inline-block;font-size:0.9rem;padding:4px 5px 3px 5px;background-color:#777;color:#fff;}
.magazine-detail .cat.new {background-color:#07a569}
.magazine-detail .cat.review {background-color:#0c87c9}
.magazine-detail .cat.test {background-color:#777}
.magazine-detail .mag-etc {text-align:center;font-size:0.85rem;padding-top:5px;color:#777;}
.magazine-detail .mag-etc span {padding-right:5px;}

.magazine-detail .mag-ctn {text-align:center;background-color:#fafafa;padding:50px 150px;box-sizing:border-box;font-size:1rem;line-height:1.5rem;}
.magazine-detail .mag-ctn > div {font-weight:400;}
.magazine-detail .mag-ctn > div img {margin:40px auto;max-width:100%;}
.magazine-detail .mag-ctn > div br {line-height:2rem;}

.magazine-detail .mag-foot {padding:20px 0;background-color:#fafafa;text-align:center;}
.magazine-detail .mag-foot .mag-foot-action {padding-bottom:30px;}
.magazine-detail .mag-foot .mag-foot-action a {display:inline-block;background-color:#fff;padding:15px 30px;white-space:nowrap;margin:0 10px;}
.magazine-detail .mag-foot .mag-foot-action a i {font-size:1.5rem;color:#555;}
.magazine-detail .mag-foot .mag-foot-action a span {padding-left:15px;font-size:1.2rem;}
.magazine-detail .mag-foot .mag-foot-action a.like.on i {color:#f03131;}
.magazine-detail .mag-foot .mag-foot-action a.comment.on i {color:#028ed8;}
.magazine-detail .mag-foot .mag-foot-action a.comment.on + .mag-comment {display:block;}
.mag-comment {display:none;max-width:1000px;margin:0 auto;text-align:left;box-sizing:border-box;padding:0 2rem;}
.mag-comment .comment-list {box-sizing:border-box;}
.mag-comment .comment-list ul {margin:0;padding:0;}
.mag-comment .comment-list li {padding:5px 0;border-bottom:1px dashed #aaa;}
.mag-comment .comment-list li:only-child,
.mag-comment .comment-list li:last-child {border-bottom:0 none;}
.mag-comment .comment-list .comment {padding:10px;font-weight:400;line-height:1.5rem;}
.mag-comment .comment-list .comment-info  {font-size:0.85rem;padding-top:5px;color:#777;font-weight:400;padding:0 10px 5px 10px;}
.mag-comment .comment-list .comment-info span  {padding-right:10px;}
.mag-comment .comment-list .comment-info a.comment-del {padding:3px 5px;background-color:transparent;border:1px solid #ccc;}
.mag-comment .comment-list .comment-info a.comment-del i {font-size:0.9rem;padding:0;}
.mag-comment .comment-list .comment-info a.comment-del:hover  {color:#f03131;border-color:#f03131;background-color:#fff;}
.mag-comment .comment-list .comment-info a.comment-del:hover i {color:#f03131;}
.mag-comment .comment-list .comment-info a.comment-del span {font-size:0.85rem;padding:0 0 0 4px;}
.mag-comment .comment-write {position:relative;padding:1rem;box-sizing:border-box;background-color:#f2f2f2;}
.mag-comment .comment-write:after {content:"";display:block;clear:both;}
.mag-comment .comment-write .comment-textarea {float:left;width:calc(100% - 100px);}
.mag-comment .comment-write .comment-textarea textarea {width:100%;height:100px;border:1px solid #ccc;font-size:1rem;padding:5px;font-weight:400;resize:none;}
.mag-comment .comment-write .comment-count {position:absolute;bottom:25px;right:125px;font-size:0.85rem;color:#333;}
.mag-comment .comment-write .btn-white-area {float:left;width:100px;}
.mag-comment .comment-write .btn-white-area button {display:block;width:100px;height:100px;background-color:#fafafa;border:1px solid #ccc;border-left:0 none;}
.mag-comment .comment-write .btn-white-area button:hover {background-color:#fff;cursor:pointer;}

.magazine-detail .mag-foot .mag-foot-nav {text-align:center;padding:30px 0;background-color:#fff;}
.magazine-detail .mag-foot .mag-foot-nav a.go-list {border:1px solid #ccc;padding:13px 70px;border-radius:30px;display:inline-block;}
.magazine-detail .mag-foot .mag-foot-nav a.go-list span {padding-left:10px;font-size:1.2rem;}
.magazine-detail .mag-foot .mag-foot-nav a.go-list:hover {border:1px solid #028ed8;color:#028ed8;}


.form-group {position:relative;max-width:1000px;margin:0 auto;padding:2rem 3rem 2rem 3rem;background-color:#f8f8f8;border:1px solid #eaeaea;}
.form-group.used-car {max-width:900px;}
.form-group h2 {color:#333;padding:1rem 2rem 2rem 2rem;margin-bottom:2rem;font-size:2.5rem;text-align:center;border-bottom:1px solid #ccc;}
.form-group:after {content:"";display:block;clear:both;}
.form-group .input-item {float:left;position:relative;width:100%;font-size:0;padding:0 1rem 2rem 1rem;border-top:1px solid #eee;}
.form-group .input-item label,
.form-group .input-item h5 {display:block;padding:1.5rem 0.5rem 0.7rem 0.7rem;font-size:1rem;font-weight:400;}
.form-group .input-item input[type="text"] {width:100%;background-color:transparent;border:1px solid #ddd;line-height:2.5rem;height:2.5rem;padding:0 1.5rem;font-size:1rem;border-radius:1.25rem;background-color:#fff;}
.form-group .input-item .select-item {position:relative;display:inline-block;border:1px solid #ddd;border-radius:1.25rem;background-color:#fff;}
.form-group .input-item .select-item:after {content:"\e92e";display:block;position:absolute;top:10px;right:10px;color:#000;font-family:'smart';font-size:1rem;}
.form-group .input-item .select-item select {line-height:2.4rem;padding:0 1.5rem;font-size:1rem;width:100%;background-color:transparent;border:0 none;outline:none;-webkit-appearance:none;}
.form-group .input-item .select-item select::-ms-expand {display:none;}
.form-group .input-item input.radius-left,
.form-group .input-item .select-item.radius-left {border-radius:1.25rem 0 0 1.25rem;}
.form-group .input-item input.radius-right,
.form-group .input-item .select-item.radius-right {border-radius:0 1.25rem 1.25rem 0;}
.form-group .input-item input.radius-none,
.form-group .input-item .select-item.radius-none {border-radius:0;}
.form-group .input-item input.border-lr-0,
.form-group .input-item .select-item.border-lr-0 {border-left:0 none;border-right:0 none;}
.form-group .input-item input.border-l-0,
.form-group .input-item .select-item.border-l-0 {border-left:0 none;}
.form-group .input-item input.border-r-0,
.form-group .input-item .select-item.border-r-0 {border-right:0 none;}
.form-group .input-item textarea {width:100%;height:10rem;line-height:1.2rem;padding:10px;box-sizing:border-box;overflow:auto;resize:none;font-size:1rem;font-weight:400;border:1px solid #ddd;outline:none;}
.form-group .input-item textarea.insert-textarea {height:10rem;outline:none;}
.form-group .input-item textarea.view-textarea {height:7rem;background-color:#fafafa;}
.form-group .input-item textarea.view-textarea:focus,
.form-group .input-item textarea.view-textarea:hover {border-color:#ddd;}
.form-group .input-item.ess > label:before,
.form-group .input-item.ess > h5:before {content:"*";font-size:1rem;padding-right:3px;color:#f03131;}
.form-group .input-item h5 small {font-size:0.85rem;color:#f03131;}
.form-group .input-item .input-group:after {content:"";display:none;clear:both;}
.form-group .input-item .input-group label {float:left;cursor:pointer;border:1px solid #ddd;border-left:0;background-color:#fff;padding:0;text-align:center;color:#333;line-height:2.5rem;font-size:0.9rem;box-sizing:border-box;}
.form-group .input-item .input-group label:first-of-type {border-left:1px solid #ddd;}
.form-group .input-item .input-group label:hover {border:1px solid #0c87c9;}
.form-group .input-item .input-group label:first-of-type {border-radius:2rem 0 0 2rem;}
.form-group .input-item .input-group label:last-of-type {border-radius:0 2rem 2rem 0;}
.form-group .input-item .input-group input[type="checkbox"] + label {border-radius:2rem;margin:0 1% 0 0;width:24%;}
.form-group .input-item .input-group.g3 label {width:33.3333333333%;}
.form-group .input-item .input-group.g4 label {width:25%;}
.form-group .input-item .input-group label i {padding-right:5px;}
.form-group .input-item .input-group input:checked + label {background-color:#0c87c9;border-color:#0c87c9;color:#fff;font-size:1.1rem;transition:all 0.3s;}
.form-group .input-item .input-group input:checked + label i {font-size:1.25rem;transition:all 0.3s;}
.form-group .input-item.input-btn {padding:1rem;border-top:0;padding-top:0;}
.form-group .input-item.input-btn label {border:0 none;display:inline-block;width:auto;padding:0.5rem 1.5rem;color:#333;border-radius:1.2rem;background-color:#ddd;cursor:pointer;}
.form-group .input-item.input-btn label:before {content:"\e92b";display:inline-block;font-size:1rem;font-family:'smart';vertical-align:middle;padding-right:0.5rem;}
.form-group .input-item.input-btn input:checked + label {color:#fff;background-color:#0c87c9;}
.form-group .btn-area {clear:both;text-align:center;padding:2rem 0;}
.form-group .btn {border:1px solid #ddd;display:inline-block;width:auto;padding:0.7rem 3rem;color:#333;font-size:1.2rem;border-radius:2rem;background-color:#fff;cursor:pointer;}
.form-group .btn:hover {border-color:#0c87c9;color:#0c87c9;}
.form-group .btn.primary {border:1px solid #232628;background-color:#fff100;color:#232628;padding:.7rem 6rem;font-size:1.3rem;font-weight:800;}
.form-group .btn.primary i {font-size:1.5rem;padding-right:.5rem;}
.form-group .btn.primary:hover {background-color:#ffff00;}

.form-group .input-item input:focus,
.form-group .input-item input:hover,
.form-group .input-item textarea:focus,
.form-group .input-item .select-item:hover,
.form-group .input-item .select-item:focus,
.form-group .input-item textarea:hover {border-color:#028ed8;box-sizing:border-box;border:1px solid #028ed8;}

.form-group .car-info {float:left;width:60%;height:300px;background:url(../img/car_bottom.png) 5% -4rem no-repeat;}
.form-group .car-info .car-title {text-align:center;padding:.5rem 3rem 1rem 0;}
.form-group .car-info .car-title strong {font-size:1.8rem;font-weight:800;}
.form-group .car-info .car-img {text-align:center;padding-right:3.5rem;}
.form-group .car-info img {min-width:300px;}
.form-group .car-info .car-change {text-align:center;padding:.8rem 3rem 0 0;}
.form-group .car-info .car-change a {text-align:center;display:inline-block;border:1px solid #ccc;background-color:#fafafa;padding:0.5rem 2rem;margin-top:1rem;border-radius:1.5rem;}
.form-group .car-info .car-change a:hover {color:#fff;border-color:#028ed8;background-color:#028ed8;}
.form-group .car-detail {float:left;width:40%;padding-top:3.3rem;}
.form-group .car-detail .car-price em {display:block;font-style:normal;font-size:1.2rem;margin-top:1rem;}
.form-group .car-detail .car-price span {display:inline-block;font-size:1.8rem;vertical-align:middle;font-weight:normal;font-family:'Nova Mono', monospace;}
.form-group .car-detail .counter {display:inline-block;font-size:2.3rem;transition:all 0.5s;font-weight:normal;color:#f03131;font-family:'Nova Mono', monospace;vertical-align:middle}

.clear-fixed:after {content:"";display:block;clear:both;}

.search-car {position:fixed;top:50%;left:50%;z-index:11;background-color:#aa9797;border:1px solid #eaeaea;display:none;width:1000px;transform:translate(-50%,-50%);box-shadow:0 0 50px #777;}
.search-car.on {display:block;}
.search-car-shadow {display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.4);z-index:10;}
.search-car.on + .search-car-shadow {display:block;}
.search-car .close-search {position:absolute;top:1rem;right:1rem;font-size:2rem;color:#000;}
.search-car .back-search {position:absolute;top:1rem;left:1rem;font-size:2rem;color:#000;}
.search-car h2 {padding:1.2rem 0 0.5rem 0;font-size:2rem;}
.select-brand {display:none;}
.select-brand.on {display:block;}
.select-brand span {display:block;text-align:center;font-size:0.95rem;font-weight:400;}
.select-brand ul {padding:1rem;margin:0;}
.select-brand ul:after {content:"";display:block;clear:both;}
.select-brand ul li {float:left;margin:0.5rem .5rem 0 .5rem;padding:0 .7rem;color:#333;}
.select-brand ul li:hover {background-color:#fff100;border-radius:10px;transition:all 0.3s;color:#000;cursor:pointer;}
.select-brand ul li.selected {background-color:#fff100;border-radius:10px;transition:all 0.3s;color:#000;}
.select-brand ul li i{font-size:4.7rem;display:inline-block;text-align:center;line-height:2.5rem;padding-top:1rem;}
.select-brand ul li span {font-size:0.8rem;display:block;text-align:center;line-height:1rem;padding-bottom:1rem;}

.select-car {display:none;}
.select-car.on {display:block;}
.select-car ul {padding:1rem;margin:0;max-height:500px;overflow:auto;}
.select-car ul:after {content:"";display:block;clear:both;}
.select-car ul li {float:left;width:25%;height:auto;margin:0;padding:0.8rem 0 0.5rem 0;box-sizing:border-box;border:1px solid #fafafa;text-align:center;}
.select-car ul li:hover {background-color:#fff;border-radius:0.8rem;border:1px solid #ddd;cursor:pointer;}
.select-car ul li img {max-width:100%;}
.select-car ul li span {display:block;text-align:center;padding:0.5rem 0;}
